body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /*o valor do padding não irá somar. Caso não colocassemos o max-width seria de 1160px*/
  padding: 20px;
  max-width: 1200px;
  /*quando chega nesse valor o cntr para de crescer*/
  margin-left: auto;
  margin-right: auto;
  /*margin-left e right é para resolver o problema do conteúdo que ficava alinhado no canto e não ao centro quando crescia o cntr*/
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  display: inline-block;
  /*por padrão qdo um item cair um abaixo do outro o padding não irá funcionar direito porque o a é um elemento inline*/
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}

/*pseudo element.*/
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  /*sublinhado só irá aparecer quando passarmos o mouse. Então de início deixamos 0px*/
  background: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
  /*quando add o pseudo element abaixo o elemento tem 6px (2px height +margin-top de 4px) abaixo de cada um dos itens. Assim o elemento não fica alinhado ao centro da marca, para resolver basta tirar o after do fluxo com o position absolute*/
}

/*Sublinhado quando passamos o mouse em cima*/
.header-menu a:hover::after {
  width: 100%;
  /*irá pegar a largura do elemento-pai.*/
}

@media (max-width: 800px) {
  .header-menu {
    padding: 20px;
  }
  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: #2e2e2e;
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
