.introducao-bg {
  background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 160px left 20px; /*160px= 120px da margem do box shadow + 40px de dist.*/
  /*parece que a imagem está vazando, mas é apenas uma sombra .detalhe*/
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px; /*200px (80px que estava antes +120px da sombra da imagem)*/
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/*
.introducao-imagem {
  a imagem cresce 100%, mas a div está -120px do elemento do cntr
  margin-bottom: -120px;
}
*/

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

/*RESPONSIVO PARA INTRODUÇÃO*/

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    /*desgrudar o h1 do topo (debaixo p/ cima)*/
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao h1 {
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
